# mod_rewrite starts
RewriteEngine on

# does not apply to existing directories
RewriteCond %{REQUEST_FILENAME} !-d 

# Check for file in directory with .html
RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the page with .html
RewriteRule ^(.*)$ $1.html [NC,L]


